<h1><%= @event.name %></h1>

<p>Creator: <%= @event.creator.full_name %></p>

<p><%= @event.date %></p>

<% if @event.attendees.any? %>
  <h2>Attendees</h2>

  <ul>
    <% @event.attendees.each do |attendee| %>
      <li><%= attendee.full_name %></li>
    <% end %>
  </ul>
<% end %>
